.card {
  padding: 1rem;
  border: 1px solid var(--neutral-alpha-medium);
  border-radius: var(--radius-l);
  background: var(--surface-background);
  backdrop-filter: var(--backdrop-filter);
  box-shadow: 0 24px 60px rgba(0, 0, 0, 0.24);
  transition: transform var(--transition-micro-medium);

  &:hover {
    transform: translateY(-4px);
  }
}

.media {
  overflow: hidden;
}

.list {
  margin: 0;
  padding-left: 1rem;
}

.link {
  margin: 0;
  width: fit-content;
}
